<div class="container mt-5">
  <div class="card p-5 text-center" id="container">
    <marquee bgColor="#29D8B1" direction="up" scrollamount="5" class="marq1" height="25%">
      <h1>Congratulations! Your order is confirmed. 🎉</h1>
      <h1>🌟 Snap a quick screenshot of this confirmation for your records 🌟</h1>
      <h1>Head to our shop, show your receipt, and enjoy a seamless shopping experience. </h1>
      <h1>Thank you for choosing us, and happy shopping! 🛒✨🛍️</h1>
    </marquee>
    
  </div>
</div>
