<div class="container mt-5">
    <table class="mat-elevation-z8">
        <tr>
            <ng-container >  
                <td > <img src="https://img.freepik.com/premium-vector/shop-with-sign-we-are-open_23-2148550415.jpg?size=626&ext=jpg&ga=GA1.1.339760592.1694533090&semt=ais" alt=""> </td>
          </ng-container>&nbsp;<ng-container >  
            <td > <img src="https://img.freepik.com/premium-vector/shop-with-sign-we-are-open_23-2148550415.jpg?size=626&ext=jpg&ga=GA1.1.339760592.1694533090&semt=ais" alt=""> </td>
      </ng-container>
        </tr>
    </table>
    </div>
    <br><br><br>
    <marquee  scrollamount="18" height="20%"><h1 id="welcome">WELCOME IN SHOPNBILL MART</h1></marquee>